*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: #fff16a;
    height: 50px;
    line-height: 45px;
}

aside{
    background: #EBEDEF;
    float: left;
    width: calc(20% - 20px);
    padding: 10px;
    height: unset;
}

aside div{
    margin-top: 30px;
}

section{
    background-color: white;
    float: left;
    width: 80%;
    min-height: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article{
    background-color: white;
    margin: 40px;
    width: 24%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: #CCD1D1 solid 1px;
}

footer{
    background-color: #EBEDEF;
    float: right;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer div{
    display: flex;
    justify-content: center;
}

.pagination{
    margin: 10px;
}